/* スマホ用デザイン */

/* form.html レイアウトここから */
#topTitle{
  margin: 3rem auto 0;
}

form{
  margin: 3rem auto 0;
}

img{
  width: fit-content;
  display: list-item;
  margin: 3.5rem auto 2rem;
}
/* form.html レイアウトここまで */
