{% extends "layout.html" %} {% block content %}

<div id="main">
<h1 id="topTitle"><span id="title">Twitter</span><span id="title">Reputation</span><span id="title">Search</span></h1>

<form action="/result" method="post">
	<input type="text" name="name" placeholder="search word" id="text-field" onblur="formCheck()">
	<button type="submit" id="submit-button"> <span class="material-icons">search</span></button>
</form>

<img src="../static/image/undraw_mobile_messages_u848.svg" alt="検索する男性の画像">

</div>

<button onclick="location.href='/2'">複数検索へ</button>

<div id="footer"></div>

{% endblock %}
