{% extends "layout.html" %} {% block content %}

<div id="main">
<h1 id="topTitle"><span id="title">Twitter</span><span id="title">Reputation</span><span id="title">Search</span></h1>

<form id="multiform" action="/result2" method="post">
	<div id="form_area">
	<input type="text" name="name1" placeholder="search word" id="text-field1">
	<input type="text" name="name2" placeholder="search word" id="text-field2" value="">
	<input type="text" name="name3" placeholder="search word" id="text-field3" value="">
	<input type="text" name="name4" placeholder="search word" id="text-field4" value="">
	<input type="text" name="name5" placeholder="search word" id="text-field5" value="">
	</div>
	<div id="formBtn">
	<button type="button" id="addbtn" onclick="addInput()">+</button>
	<button type="submit" id="submit-button"><span class="material-icons">search</span></button>
	</div>
</form>

<img src="../static/image/undraw_mobile_messages_u848.svg" alt="検索する男性の画像">

<a id="goBtn" href='/'>ワンワード検索へ</a>
</div>

<div id="footer"></div>

<script src="{{ url_for('static', filename='js/form_check.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/form2.js') }}"></script>

{% endblock %}
