<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/style/style.min.css')}}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon" />
		<title>TwitterReputationSearch</title>
	</head>

	<body>
		{% block content %} {% endblock %}
	</body>
	<script src="../static/js/form_check.js"></script>
</html>
