<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/style/style.min.css')}}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
		<title>TwitterReputationSearch</title>
	</head>

	<body>
		{% block content %} {% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='/js/footer.js') }}"></script>
		<script src="../static/js/form_check.js"></script>
	</body>
</html>
