<!DOCTYPE html>
<html lang="ja">
	<head prefix="og: http://ogp.me/ns#">
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1"/>
			<meta property="og:title" content="Twitter Reputation Search">
			<meta property="og:type" content="website">
			<meta property="og:url" content="https://shielded-mesa-12200.herokuapp.com/">
			<meta property="og:image" content="https://shielded-mesa-12200.herokuapp.com/static/image/OGP_twitter.png" />
			<meta property="og:description" content="単語を入力するとTwitter上での評判を知ることができます！">
			<meta property="og:site_name" content="Twitter Reputation Search">
			<meta name="twitter:card" content="summary_large_image">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/style.min.css')}}"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon"/>
		<title>TwitterReputationSearch</title>
	</head>

	<body>
		{% block content %} {% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="./static/js/footer.js"></script> -->
		<script src="{{ url_for('static', filename='js/footer.js') }}"></script>
		<script src="{{ url_for('static', filename='js/form_check.js') }}"></script>
	</body>
</html>
