{% extends "layout.html" %} {% block content %}

<div id="main">
	<p id="resultTitle">
		<span>Twitter</span><span>Reputation</span><span>Search</span>
	</p>

	<div class="title-border">
		<h1>Result</h1>
	</div>

	<p id="searchResults">
		<span id="s1">「{{ name1 }}」</span><span id="s2">「{{ name2 }}」</span
		><span id="s3">「{{ name3 }}」</span><span id="s4">「{{ name4 }}」</span
		><span id="s5">「{{ name5 }}」</span>
	</p>

	<div id="canvasArea">
		<canvas id="pojinegaChart"></canvas>
	</div>

	<div id="btnsB">
		<a
			href="https://twitter.com/share?ref_src=twsrc%5Etfw"
			class="twitter-share-button"
			data-url="https://shielded-mesa-12200.herokuapp.com/"
			data-show-count="false"
			data-text="{{tweet_data}}"
			data-hashtags="TwitterReputationSearch"
			>Tweet</a
		>
		<a id="btn" href="./">Replay</a>
	</div>
</div>

<div id="footer"></div>

<script
	async
	src="https://platform.twitter.com/widgets.js"
	charset="utf-8"
></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
	var per1 = "{{ per1 }}";
	var per2 = "{{ per2 }}";
	var per3 = "{{ per3 }}";
	var per4 = "{{ per4 }}";
	var per5 = "{{ per5 }}";
	var name1 = "{{ name1 }}";
	var name2 = "{{ name2 }}";
	var name3 = "{{ name3 }}";
	var name4 = "{{ name4 }}";
	var name5 = "{{ name5 }}";
</script>
<script
	type="text/javascript"
	src="{{ url_for('static', filename='js/result2.js') }}"
></script>
{% endblock %}
