{% extends "layout.html" %} {% block content %}

<p>
	<span id="result_title">Twitter</span
	><span id="result_title">Reputation</span
	><span id="result_title">Search</span>
</p>

<h1>Result</h1>

	<p>{{ name1 }}の検索結果</p>
	<p>ポジティブツイートの割合 : {{ per1 }}%</p>

    <p>{{ name2 }}の検索結果</p>
	<p>ポジティブツイートの割合 : {{ per2 }}%</p>

    <p>{{ name3 }}の検索結果</p>
	<p>ポジティブツイートの割合 : {{ per3 }}%</p>
    
    <p>{{ name4 }}の検索結果</p>
    <p>ポジティブツイートの割合 : {{ per4 }}%</p>
        
    <p>{{ name5 }}の検索結果</p>
	<p>ポジティブツイートの割合 : {{ per5 }}%</p>


    <!-- グラフわからん -->
	<div id="canvasArea">
		<canvas id="pojinegaChart"></canvas>
	</div>


<a
	href="https://twitter.com/share?ref_src=twsrc%5Etfw"
	class="twitter-share-button"
	data-show-count="false"
	data-text="検索結果: ポジティブツイートの割合は、{{ name1 }}が{{ per1 }}%、{{ name2 }}が{{ per2 }}%、 {{ name3 }}が{{ per3 }}%、 {{ name4 }}が{{ per4 }}%、 {{ name5 }}が{{ per5 }}% でした！ "
	
	>Tweet</a
>

<button><a href="./">Replay</a></button>



<script
	async
	src="https://platform.twitter.com/widgets.js"
	charset="utf-8"
></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
	var p_per = '{{p_per}}';
	var n_per = '{{n_per}}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/result.js') }}"></script>
{% endblock %}
